@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

*, *::after, *::before {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gg-black:rgba(0, 0, 0, 1);
    --gg-white:rgba(255, 255, 255, 1);
    --gg-black-text:rgba(0, 0, 0, 0.85);
    --gg-white-text:rgba(255, 255, 255, 0.95);
    --gg-paragraph:rgba(104, 104, 104, 1);
    --gg-purple:rgba(53, 83, 200, 1);
}

h1, p {
  margin: 1em 1em 1em 0;
}
label {
  margin: auto;
  width:65px;
  height:26px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}

label:after {
  content: "";
  width: 23.4px;
  height: 23.4px;
  position: absolute;
  top:1px;
  left:1px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left:63.7px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after {
  transition: 0.3s
}
label:active:after{ 
  width: 33.8px; 
}

label svg {
  position: absolute;
  width: 15.6px;
  top:5.2px;
  z-index: 100;
}
label svg.sun {
  left:5.2px;
  fill:#fff;
  transition: 0.3s;
}
label svg.moon {
  left:44.2px;
  fill:#7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill:#7e7e7e;
}
input:checked + label svg.moon {
  fill:#fff;
}

/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}

/* Estilos exclusivos para o tema light */
.light-mode {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
}
/* Estilos dos links */
a {
    color: rgba(0, 0, 0, 0.85);
    background-color: transparent;
}

/* Estilos dos links em dark-mode */
.dark-mode a {
    color: rgba(255, 255, 255, 0.95);
}

/* Estilos exclusivos para o tema dark */
.dark-mode {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.95);
}

/* Estilo comum para o corpo da página */
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{display:none}

@font-face {
    font-family: 'Metropolis-Bold';
    src: url('https://gigantedev.github.io/portfolio/fonts/Metropolis-Bold.otf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Metropolis-Regular';
    src: url('https://gigantedev.github.io/portfolio/fonts/Metropolis-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-SemiBold';
    src: url('https://gigantedev.github.io/portfolio/fonts/Metropolis-SemiBold.otf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Metropolis-Medium';
    src: url('https://gigantedev.github.io/portfolio/fonts/Metropolis-Medium.otf');
    font-weight: bold;
    font-style: bold;
}

.separator {
    position: relative;
    width: auto;
    height: 2px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: var(--gg-black);
    opacity: 0.05;
}

.dark-mode .separator {
  background: var(--gg-white);
}

.separator2 {
    width: auto;
    height: 0px;
    left: 101px;
    top: 243px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 1rem 0 1rem 0;
}

div.highway-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
  }
  div.highway-slider div.highway-barrier {
    overflow: hidden;
    position: relative;
  }
  div.highway-slider ul.highway-lane {
    display: flex;
    height: 100%;
  }
  div.highway-slider ul.highway-lane li.highway-car {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343434;
  }

  .dark-mode div.highway-slider ul.highway-lane li.highway-car {
    background: #343434;

  }

  @-webkit-keyframes translatestf {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-500%);
    }
  }
  @keyframes translatestf {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-500%);
    }
  }
  #stffull div.highway-barrier ul.highway-lane {
    width: 500%;
  }
  #stffull div.highway-barrier ul.highway-lane li.highway-car {
    -webkit-animation: translatestf 30s linear infinite;
            animation: translatestf 30s linear infinite;
  }
  #stffull div.highway-barrier ul.highway-lane li.highway-car h4 {
    font-size: 28px;
  }
  @-webkit-keyframes translateinfinite {
    100% {
      transform: translateX(calc(-180px * 12));
    }
  }
  @keyframes translateinfinite {
    100% {
      transform: translateX(calc(-180px * 12));
    }
  }
  #infinite div.highway-barrier::before,
  #infinite div.highway-barrier::after {
    content: " ";
    position: absolute;
    z-index: 9;
    width: 180px;
    height: 100%;
  }
  #infinite div.highway-barrier::before {
    top: 0;
    left: 0;
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }
  .dark-mode #infinite div.highway-barrier::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  }
  #infinite div.highway-barrier::after {
    top: 0;
    right: 0;
    background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }
  .dark-mode #infinite div.highway-barrier::after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  }
  #infinite div.highway-barrier ul.highway-lane {
    width: calc(180px * 24);
  }
  #infinite div.highway-barrier ul.highway-lane li.highway-car {
    width: 180px;
    -webkit-animation: translateinfinite 25s linear infinite;
            animation: translateinfinite 25s linear infinite;
  }
  #infinite div.highway-barrier ul.highway-lane li.highway-car span.fab {
    font-size: 65px;
  }
  ul.highway-lane li.highway-car {
    margin-top: 15px;
    margin-left: 50px;
    height: 120px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  ul.highway-lane li.highway-car img {
    width: 100px;
  }

.download_my_resume{
  margin-top: 2rem;
  align-items: center;
  text-align: center;
}

.download_my_resume a {
  font-size: 30px;
}

.teste {
    display: flex;
}

body {
    background: var(--gg-white) ;
    color: var(--gg-black-text);
}

a, li {
    list-style: none;
    text-decoration: none;
    font-family: Metropolis-SemiBold;
    padding: .4rem 1rem;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    color: var(--gg-black-text);
}

p {
    font-family: Metropolis-Medium;
    font-size: 14px;
    color: var(--gg-paragraph);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin: 0 auto;
    max-width: 80%;
}

.top-left-menu {
  display: flex;
}

.main {
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.main .text {
    margin: 0 auto;
    max-width: 80%;
}

.main h1 {
    font-family: Metropolis-Medium;
    font-size: 35px;
    margin: 1rem;
}

.main span {
    font-family: Metropolis-SemiBold;
}

.i img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.projects {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.projects .title {
    font-family: Metropolis-Medium;
    font-size: 26px;
}

.projects .title h1 {
    margin: 1rem;
}

.projects img {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}
.projects .details {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, .4fr));
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
}

.projects .project {
    padding: 2rem;
}

.projects .project p {
    margin: 1rem;
}

.projects .project .about{
    font-size: 18px;
}


.skills {
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.skills .title {
    font-family: Metropolis-Medium;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .title h1 {
    font-size: 26px;
    margin-bottom: 1rem;
}

.skills .skill {
    padding: .8rem;
}
.skills .skill h1{
    font-family: Metropolis-Medium;
    font-size: 26px;
}

.skills .skill .about{
    font-size: 18px;
}

.touchme {
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 4rem;
    padding-top: 4rem;
    font-family: Metropolis-Medium;
}

.touchme .gettouch h1 {
    font-size: 26px;
    margin-bottom: 1rem;
}

.touchme .gettouch .contact {
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.touchme .gettouch p {
    max-width: 28rem;
    margin-top: 1rem;
}

.touchme .gettouch .social {
    margin-top: 1rem;
}

.touchme .gettouch .social ul {
    display: flex;
}

.touchme .gettouch .social ul li,
.touchme .gettouch .social ul li a {
    margin: 0;
    padding: 0;
}

.touchme .gettouch .social ul li a {
    font-family: Metropolis-Medium;
    font-size: 1rem;
    margin-right: 1rem;
}

footer {
    background-color: #E5E5E5;
}

.dark-mode footer {
  background-color: rgba(0, 0, 0, 0.45);;
}

.footer {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.footer h1 {
    font-family: Metropolis-SemiBold;
    margin-right: 0;
}

.footer p {
    margin: 1rem 0 1rem 0;
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}

.popup .content {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 0) scale(0);
    background: #fff;
    width: 80%;
    height: 80%;
    z-index: 3;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 10%;
    top: 10%;
}

.dark-mode .popup .content {
  background: #343434;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(0, 0) scale(1);
}